@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');
@font-face {
    font-family: Syne;
    font-weight: 800;
    src: url();
}
body {
    font-family: 'Syne', sans-serif;

    font-weight: 800;
    font-size: 36px;
    line-height: 1.25;

    background-color: black;
    color: white;
}

h1 {
position: fixed;
top: 48px;
left: 48px;
z-index: 1;
}

a {
    position: fixed;
    top: 48px;
    right: 48px;
    color: white;
    text-decoration: none;
}

h1, a {
    mix-blend-mode: difference;
}

canvas {
    vertical-align: bottom;
}